.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Georgia, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1643px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  min-width: 1650px;
  position: relative;
}

.header-slider {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-slider__slide {
  width: 100%;
  height: 790px;
  background: url(../img/header-slider__bg.jpg) no-repeat center/cover;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-slider__slide::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header-slider__slide * {
  z-index: 25;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.header-slider__slide h1 {
  width: 1095px;
  font-size: 49px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.header-slider__slide p {
  width: 1030px;
  font-size: 27px;
  margin: 0;
}

.header-top {
  width: 100%;
  min-width: 1643px;
  height: 150px;
  z-index: 50;
  background: rgba(207, 19, 39, 0.8);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.header-top .container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 91px;
  padding-right: 82px;
}

.header-top .container .logo {
  width: 200px;
  height: 112px;
  background: #fff;
}

.header-content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-content__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1188px;
}

.header-content__block:first-child {
  padding-bottom: 20px;
  border-bottom: 2px solid #dc6f7f;
}

.header-content__block:first-child ul li {
  margin-right: 45px;
}

.header-content__block:first-child ul li:last-child {
  margin-right: 0;
}

.header-content__block:first-child .header-contacts {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content__block:first-child .header-contacts__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 70px;
}

.header-content__block:first-child .header-contacts__block:first-child {
  margin-left: 0;
}

.header-content__block:first-child .header-contacts__block img {
  margin-right: 20px;
}

.header-content__block:first-child .header-contacts__block span {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.header-content__block:last-child ul {
  margin-top: 20px;
  width: 100%;
}

.header-content__block ul {
  padding: 0;
  margin: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-content__block ul li {
  list-style: none;
  display: inline-block;
}

.header-content__block ul li:last-child {
  margin-right: 0;
}

.header-content__block ul li a {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.header-content__block ul li a::after {
  margin: 0 auto;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.header-content__block ul li a:hover {
  color: #000;
}

.header-content__block ul li a:hover::after {
  width: 100%;
}

.slick-dots__header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  bottom: 212px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slick-dots__header-slider li {
  list-style: none;
}

.slick-dots__header-slider li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  border: 1px solid #fff;
  background: transparent;
  margin-right: 13px;
  outline: none;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.slick-dots__header-slider li button:hover {
  background: #d9d9d9;
}

.slick-dots__header-slider li:last-child button {
  margin-right: 0;
}

.slick-dots__header-slider li.slick-active button {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.country-select {
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

.country-select ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.country-select::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 7px;
  width: 7px;
  top: 45%;
  margin-right: 3px;
}

.country-select .option {
  color: #000;
  background: #fff;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.country-select .option:hover {
  color: #4ab5e3;
  background-color: #eee;
}

.country-select .list {
  background: #fff;
  width: 100%;
  border-radius: 0;
}

.section-tours {
  padding-top: 100px;
  padding-bottom: 65px;
}

.section-tours .container {
  text-align: center;
}

.section-heading {
  margin: 0 auto;
  width: 780px;
  text-align: center;
}

.section-heading h2 {
  font-size: 41px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #282828;
}

.section-heading p {
  font-size: 22px;
  font-weight: 400;
  color: #252e37;
}

.tour {
  width: 371px;
  height: 446px;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
}

.tour__img {
  width: 100%;
  height: 263px;
}

.tour__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px 0 15px;
}

.tour__top .tour-users {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour__top .tour-users div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tour__top .tour-users div img {
  margin-right: 7px;
}

.tour__top .tour-users div span {
  font-size: 14px;
  color: #fff;
}

.tour__top .tour-users div:first-child {
  margin-right: 20px;
}

.tour__bottom {
  padding: 0 12px 0 14px;
  margin-top: 30px;
}

.tour__bottom .tour__title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.tour__bottom .tour__title .title {
  width: 191px;
}

.tour__bottom .tour__title .title h3 {
  font-size: 17px;
  font-weight: 400;
  color: #191919;
  margin: 0;
  width: 100%;
  margin-bottom: 24px;
}

.tour__bottom .tour__title .title span {
  font-size: 14px;
  font-weight: 400;
  color: #191919;
  text-transform: uppercase;
}

.tour__bottom .tour__title .triangle {
  width: 0;
  height: 0;
  border-top: 51px solid transparent;
  border-right: 48px solid #252e37;
  border-bottom: 0px solid transparent;
}

.tour__bottom .tour__title .tour-price {
  width: 117px;
  height: 51px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #252e37;
}

.tour__bottom .tour__title .tour-price img {
  margin-left: 2px;
  margin-right: 12px;
}

.tour__bottom .tour__title .tour-price span {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.tour__bottom .tour__title .line {
  position: absolute;
  top: 29px;
  left: -4px;
  width: 215px;
  height: 1px;
  background: #dcdddf;
  z-index: -1;
}

.tour__bottom .tour-book {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tour__bottom .tour-book div {
  font-size: 14px;
  font-weight: 400;
  color: #191919;
  line-height: 1.5;
}

.tour__bottom .tour-book div span {
  text-transform: uppercase;
}

.tour__bottom .tour-book .btn-book {
  padding: 13px 24px;
  background: transparent;
  border: 1px solid #c8cbcd;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.tour__bottom .tour-book .btn-book:hover {
  background: #cf1327;
  border: 1px solid #cf1327;
  color: #fff;
}

.tours-block {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 50px;
}

.load-more-tours {
  padding: 17px 22px;
  background: transparent;
  border: 1px solid #c0c2c5;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.load-more-tours img {
  margin-left: 16px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.load-more-tours:hover {
  background: #cf1327;
  border: 1px solid #cf1327;
  color: #fff;
}

.footer {
  position: relative;
  width: 100%;
  min-width: 1650px;
  background: url(../img/footer__bg.jpg) no-repeat center/cover;
}

.footer::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
}

.footer .container {
  text-align: center;
}

.footer-info {
  margin-top: 56px;
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-info__block {
  width: 513px;
  height: 312px;
  border: 1px solid #fff;
}

.footer-info__block:nth-child(1) {
  padding-left: 146px;
  padding-top: 44px;
}

.footer-info__block:nth-child(1) ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer-info__block:nth-child(1) ul li {
  list-style: none;
  margin-top: 10px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-info__block:nth-child(1) ul li:first-child {
  margin-top: 0;
}

.footer-info__block:nth-child(1) ul li::after {
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 40%;
  left: -25px;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.footer-info__block:nth-child(1) ul li:hover:after {
  background: #cf1327;
}

.footer-info__block:nth-child(1) ul li a {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.footer-info__block:nth-child(1) ul li a:hover {
  color: #cf1327;
}
